.benefits {
  padding-top: 109px;
  background-color: $color-ghost-white;

  @include vp-1199 {
    padding-top: 92px;
  }

  @include vp-767 {
    padding-top: 63px;
  }

  h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 26px;
    font-family: $ff-alumni;
    font-weight: 600;
    letter-spacing: 0.03em;
    font-size: 54px;
    line-height: 65px;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 30px;
    }
  }
}

.benefits__wrapper {
  max-width: 1136px;
  padding: 0 45px 83px;
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  grid-auto-flow: dense;
  gap: 54px 60px;

  @include vp-1199 {
    max-width: 768px;
    padding: 0 45px 71px;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 31px;
  }

  @include vp-767 {
    max-width: 100%;
    padding: 0 0 60px;
    grid-template-columns: 1fr;
    gap: 0;
    justify-items: center;
  }
}

.benefits__info-container {
  grid-column: 3;
  display: flex;
  column-gap: 30px;
  overflow-wrap: break-word;

  @include vp-1199 {
    grid-column: 2;
    margin-bottom: 20px;
  }

  @include vp-767 {
    grid-column: 1/-1;
    max-width: 460px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
    padding: 0 46px 20px;
    text-align: center;
  }

  &--right:nth-child(even),
  &--left:first-child {
    padding-bottom: 74px;
    border-bottom: 1px solid $color-crimson;

    @include vp-1199 {
      border: none;
      padding: 0;
    }


  }

  &--left:first-child {
    @include vp-767 {
      padding: 0 67px 20px;
    }
  }

  &--left {
    padding-left: 22px;
    grid-column: 1;

    @include vp-1199 {
      padding-left: 0;
      padding-right: 20px;
      grid-column: 1;
    }

    @include vp-767 {
      padding: 0 67px 20px;
    }
  }

  &--right {
    padding-right: 8px;

    @include vp-767 {
      padding: 0 45px;
    }
  }

  p {
    margin: 0;
  }
}

.benefits__info-number {
  p {
    @include gradient-text;
    font-weight: 700;
    font-size: 71px;
    margin-bottom: -24px;
    line-height: 150%;

    @include vp-1199 {
      font-size: 58px;
      margin-bottom: -20px;
    }

    @include vp-767 {
      margin-bottom: -22px;
    }
  }

  span {
    display: inline-block;
    vertical-align: baseline;
    font-size: 14px;
  }
}

.benefits__info-text {
  p {
    padding-top: 26px;
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 22px;

    @include vp-1199 {
      padding-top: 19px;
      padding-bottom: 4px;
      font-size: 20px;
      line-height: 22.4px;
    }

    @include vp-767 {
      padding-top: 9px;
    }
  }

  span {
    font-weight: 300;
    line-height: 22.4px;
  }
}

.benefits__promo {
  position: relative;
  grid-column: 2;
  grid-row: 2 span;
  max-width: 240px;
  margin: 29px auto auto;
  padding: 66px 34px 60px;
  background-color: $color-resolution-blue;
  color: $color-default-white;

  @include vp-1199 {
    max-width: 442px;
    margin: 22px auto 27px;
    padding: 45px 135px 40px;
    grid-column: 1/-1;
    grid-row: 2;
  }

  @include vp-767 {
    margin: 39px auto 27px;
    grid-row: 3;
    padding: 52px 74px 43px;
    width: 100%;
    max-width: 100%;
    min-height: 239px;
  }

  p {
    margin: 0;
    text-align: center;
  }
}

.benefits__promo-count {
  font-weight: 700;
  text-align: center;

  p {
    font-size: 74px;
    margin: 0;
    line-height: 50px;

    @include vp-1199 {
      margin-bottom: -21px;
      margin-right: 6px;
    }

    @include vp-767 {
      margin-bottom: 0;
    }
  }

  span {
    display: inline-block;
    vertical-align: baseline;
    font-size: 26px;
    margin: 21px 0 39px 0;

    @include vp-1199 {
      font-size: 22px;
      margin-bottom: 18px;
      margin-top: 37px;
    }

    @include vp-767 {
      margin: 12px 0;
    }
  }
}
