.btn {
  display: inline-flex;
  padding: 24px 42px;
  justify-content: center;
  word-break: break-word;
  outline-offset: 3px;

  color: $color-default-white;

  background-color: transparent;
  border: none;
  cursor: pointer;
  user-select: none;

  transition: color, background $trans-default;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include hover-focus {
    background-color: $color-default-white;
    color: $color-egyptian-blue;
  }

  @include focus {
    background-color: $color-default-white;
    color: $color-egyptian-blue;
  }

  @include active {
    background-color: $color-default-white;
    color: $color-sapphire;
  }
}
