.form {
  min-height: 337px;
  background-color: $color-sapphire;
  color: $color-default-white;
  padding: 65px 170px 45px 103px;

  @include vp-1199 {
    min-height: 323px;
    padding: 60px 162px 45px 133px;
  }

  @include vp-767 {
    padding: 64px 15px 65px;
    min-height: 386px;
  }

  h3 {
    font-family: $ff-alumni;
    margin: 0 0 25px;
    font-size: 54px;
    font-weight: 800;
    letter-spacing: 0.03em;
    line-height: 65px;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 32px;
      letter-spacing: 0.02em;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 0.02em;
      margin-bottom: 32px;
    }
  }
}

.form__content {
  max-width: 410px;
  margin-left: auto;
  z-index: 10;

  @include vp-1199 {
    max-width: 100%;
    margin: 0;
  }
}

.form__fields {
  display: flex;
  gap: 0 28px;
  margin-bottom: 28px;
  border: none;
  padding: 0;

  @include vp-1199 {
    gap: 0 60px;
    margin-bottom: 27px;
  }

  @include vp-767 {
    flex-wrap: wrap;
    gap: 29px 0;
    margin-bottom: 38px;
  }

  label {
    width: 100%;
  }

  input {
    width: 100%;
    background-color: $color-transparent;
    border: none;
    padding: 8px 0 5px;
    color: inherit;
    font-size: 14px;
    line-height: 16px;
    outline-color: $color-default-white;
    border-bottom: 1px solid $color-white-border;
    outline-offset: 3px;

    @include vp-1199 {
      padding: 6px 0;
    }

    @include focus {
      outline: 2px solid;
      padding-left: 5px;

      &::placeholder {
        color: transparent;
      }

      &::-moz-placeholder {
        color: transparent;
      }
    }

    @include hover {
      border-color: $color-default-white;
    }

    @include vp-767 {
      padding: 7px 0;
    }
  }

  &::placeholder {
    color: $color-default-white;
  }
}

.form__button {
  border: 3px solid $color-default-white;
  padding: 17px;
  letter-spacing: 0.05em;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  @include active {
    color: $color-sapphire;
  }
}

.form__error {
  color: $color-torch-red;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  display: none;
  padding-top: 2px;
}


.is-invalid {
  input {
    border-bottom: 1px solid $color-torch-red;

    +.form__error {
      display: block;
    }
  }
}
