.games {
  margin-bottom: 107px;
  min-height: 500px;

  @include vp-1199 {
    margin-bottom: 100px;
    min-height: 292px;
  }

  @include vp-767 {
    margin-bottom: 63px;
    min-height: 584px;
  }
}

.games__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include vp-767 {
    flex-direction: column;
    max-width: 500px;
  }
}

.games__content {
  display: flex;
  flex-direction: column;
  min-width: 450px;
  width: 500px;
  min-height: 500px;
  padding: 85px 77px 85px;
  background-color: $color-red;
  color: $color-default-white;

  @include vp-1199 {
    padding: 48px 46px 51px;
    min-height: 292px;
    width: 292px;
    min-width: auto;
  }

  @include vp-767 {
    padding: 48px 37px 51px 41px;
    width: 100%;
  }
}

.games__link {
  width: 100%;
  border: 4px solid $color-default-white;
  padding: 25px 40px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;

  @include vp-1199 {
    width: 100%;
    border-width: 2px;
    padding: 12px 45px;
    font-size: 10px;
    line-height: 12px;
  }

  @include vp-767 {
    width: 97%;
  }
}

.games__text {
  margin: 11px 0 46px;
  margin-bottom: 46px;
  font-size: 18px;

  @include vp-1199 {
    font-size: 12px;
    margin: 0 0 26px 0;
  }

  @include vp-767 {
    margin: 1px 0 31px 3px;
    line-height: 18px;
  }
}

.games__date {
  display: flex;
  column-gap: 62px;

  @include vp-1199 {
    gap: 35px;
  }

  h3 {
    font-family: $ff-alumni;
    font-weight: 600;
    margin: 0;
    padding-left: 11px;
    letter-spacing: 0.03em;
    font-size: 82px;
    line-height: 79px;
    text-align: center;

    @include vp-1199 {
      font-size: 48px;
      line-height: 46px;
      padding-left: 5px;
      padding-top: 4px;
    }

    @include vp-767 {
      padding-left: 8px;
      padding-top: 2px;
      font-size: 48px;
    }
  }
}

.games__time-inner {
  @include vp-1199 {
    max-width: 63px;
  }

  p {
    margin: 0;
    font-size: 18px;
    position: relative;

    @include vp-1199 {
      font-size: 12px;
      line-height: 18px;
    }
  }

  span {
    font-weight: 400;
    font-size: 14px;
    width: 50px;
    line-height: 21px;

    @include vp-1199 {
      font-size: 10px;
      width: 27px;
      line-height: 15px;
    }

    @include vp-767 {
      margin: 3px 0 0 0;
    }
  }
}

.games__time {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;

  @include vp-1199 {
    font-size: 24px;
    line-height: 34px;
  }

  @include vp-767 {
    padding-right: 5px;
  }
}

.games__content-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  position: relative;
  width: auto;

  &::after {
    position: absolute;
    content: "";
    width: 97%;
    height: 1px;
    background-color: $color-default-white;
    top: 4px;
    left: 0;
  }

  @include vp-1199 {
    padding: 0;
    gap: 3px;

    &::after {
      top: 1px;
    }
  }

  @include vp-767 {
    gap: 0;
  }
}

.games__picture {
  margin: 0;
  background-color: $color-sapphire;
  height: 100%;
  overflow: hidden;

  img {
    object-fit: cover;
    height: 500px;

    @include vp-1199 {
      height: 292px;
    }
  }
}

.games__time-content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include vp-1199 {
    gap: 0;
  }
}
