.gym {
  min-height: 636px;

  @include vp-1199 {
    min-height: 754px;
  }

  @include vp-767 {
    min-height: 860px;
  }
}

.gym__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 355px 1fr;
  column-gap: 85px;
  padding: 0 44px 50px 104px;
  max-width: 1250px;

  @include vp-1199 {
    padding: 0 44px;
    grid-template-columns: 1fr;
    padding-bottom: 50px;
  }

  @include vp-767 {
    padding: 0;
    padding-bottom: 20px;
  }
}

.gym__wrapper article:first-child {
  margin-top: 38px;

  @include vp-1199 {
    margin-top: 0;
    margin-bottom: 44px;
  }

  @include vp-767 {
    padding: 0 15px;
    margin-bottom: 35px;
  }

  h2 {
    margin: 0;
    margin-bottom: 8px;
    letter-spacing: 0.03em;
    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    white-space: normal;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      text-align: center;
      margin-bottom: 0;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      text-align: start;
      margin-bottom: 5px;
    }
  }

  p {
    margin: 0;
    font-size: 18px;

    @include vp-1199 {
      text-align: center;
      padding: 0 55px;
    }

    @include vp-767 {
      padding: 0;
      text-align: start;
    }
  }
}

.gym__wrapper article:nth-child(2n) {
  margin: 0;
  background-color: $color-ghost-white;
  max-height: 401px;

  img {
    width: 100%;
    object-fit: cover;

    @include vp-1199 {
      height: 345px;
    }

    @include vp-767 {
      height: 313px;
    }
  }
}

.gym__wrapper article:first-child article {
  margin-top: 42px;

  @include vp-1199 {
    margin-top: 36px;

    p:not(:first-child) {
      display: none;
    }
  }

  @include vp-767 {
    margin-top: 26px;
    padding-right: 30px;
  }

  p {
    font-size: 16px;
    font-weight: 300;

    &:last-child {
      margin-top: 9px;

      @include vp-1199 {
        margin-top: 42px;
      }

      @include vp-767 {
        margin-top: 33px;
      }
    }
  }
}
