.social {
  line-height: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 130px;
  margin-right: -4px;
  gap: 11px;
}

.social__link {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  user-select: none;


}

.social__icon {
  background-color: $color-default-white;
  border-radius: 50%;
  padding: 5px;
  width: 100%;
  height: 100%;
  color: $color-black-russian;
  transition: background, color $trans-default;

  &--vk {
    @include hover-focus {
      background-color: #103AAE;
    }
  }

  &--ok {
    @include hover-focus {
      background-color: #ed812b;
    }
  }

  &--rt {
    @include hover-focus {
      background-color: #ff4500;
    }
  }

  @include hover-focus {
    color: $color-default-white;
  }
}
